
@import 'reset.css'; 
/* 이거 왜 해주는거지 .. 왜 css를 reset하노 */

body {
    background-color: #22254b;
}

.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;  
}

.movie-container {
    /* width: 250px;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.movie-card {
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 16px;
    width: 250px;
    
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-info {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center; 
}

.movie-info img{
    max-width: 100%;   
}

.movie-info h2 {
    margin: 0;
}

.movie-info span {
    margin: 3px;
}

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}



/* 상단바 디자인 */

.nav-container {
    background-color: rgba(3, 37, 65, 1);
}

.nav-wrap {
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;  /*가운데 정렬 확인은 border: 1px red solid */
    display: flex;  /*세로 정렬 */
    align-items: center;
    
}

.nav-left-wrap {
    display: flex;
}

.nav-left-wrap ul {
    display: flex;

}

.nav-left-wrap li {
    margin-right: 14px;
    padding: 8px;
    transition: all 0.3s ease; 
}

.header-left-item {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.header-nav-item {
    color: white;
    text-decoration: none; /*밑줄 없애기 */
    font-weight: 300;
    display: inline-block;
   
    
}

/* 마우스 오버 시 살짝 커지게 (근데 왜 모두가 움직임) */
.nav-left-wrap li:hover {
    margin-right: 17px;
    padding: 10px;
    transform: scale(1.1);
}

.footer {
    background-color: rgba(3, 37, 65, 1);
    height: 45px;
    max-width: 1800px;
}

.footer-content {
    color: white;
}

/* .ho:visited {
    font-size: 18px;
    font-weight: 600;
    color: yellow;
} */

.ho:hover {
    font-size: 18px;
    font-weight: 600;
    
}
/* 
.ho:active {
    color: yellow;
} */

/* 누르고도 크기와 색상 유지,after checked visted 속성  */



